table.redTable {
  border: 2px solid #A40808;
  background-color: #EEE7DB;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 25px;
  color: black;
}
table.redTable tr:nth-child(even) {
  background: #F5C8BF;
}
table.redTable thead {
  background: #A40808;
}
table.redTable thead th {
  font-size: 25px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #A40808;
}
table.redTable thead th:first-child {
  border-left: none;
}
td:hover{
  background-color: white;
}
.containerone {
  width: 100%;
  padding-top: 56.25%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.parallax3 {
  /* The image used */
  background-image: url("./images/fun.jpg");

  /* Set a specific height */
  min-height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  align-content: center;
  position: absolute;
  width: 50%;
  height: 50%;
}
@media only screen and (max-device-width: 1366px) {
  .parallax1 .parralax2 .parallax3 {
    background-attachment: scroll;
  }
}
